{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}{{ watchlist.name }} - Watchlist{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/watchlist.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div id="watchlist-content">
                {% include 'watchlist/watchlist_detail_content.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/watchlist.js' %}"></script>
{% endblock %} 